.lista1 {
    list-style-image: url('icono_pelicula.png');
    list-style-position: inside;
    background-color: lightgray;
    font-weight: bold;
    font-size: 1.5rem;
}

.lista1::first-letter {
    font-size: 1.5rem;
}

.lista1 li {
    font-size: 1rem;
}

.lista1 li::first-letter {
    font-size: 1.5rem;
}

.lista1 li:nth-child(even) {
    background-color: yellowgreen;
    color: black
}

.lista1 li:nth-child(odd) {
    background-color: grey;
    color: white
}

ul {
    background-color: light;
}

.p1 {
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: lightgray;
}

.p1::first-line {
    text-transform: uppercase;
}

.p1::first-letter {
    font-size: 1.5rem;
}

.p1::before {
    content: "Sinopsis:";
    background-color: yellow;
    color: red;
    font-weight: bold;
}

/*.p1::after {
    content: "- Aquí acaba el párrado";
    background-color: yellow;
    color: red;
    font-weight: bold;
}*/

/*p::before {
    content: "Read this -";
    background-color: yellow;
    color: red;
    font-weight: bold;
}*/

.tabla1 caption {
    background-color: violet;
    text-transform: uppercase; 
    font-weight: bold;
}

.tabla1 th {
    text-transform: uppercase;
}

.tabla1 tr:nth-child(2n+3) {
    background-color: lightpink; 
}

.tabla1 tr:nth-child(2) {
    background-color: blueviolet;
}

